



.hovered{
  color:#ff6e40;
}

.selected{
  background-color:#dedede;
}

.mdl-chip{
  cursor: pointer;
}

.mdl-list__item{
  cursor: pointer;
}



#filters {padding: 30px 0px; overflow: auto;}
#tags {line-height: 25px;}

#info {padding: 30px 0px;}
