



.light-type {color: #777;} /* #06DDA0 */
.dim {color: #acacac;}
.fancy {font-family: baskerville, garamond, serif; font-weight: lighter; font-style: italic;}

table{width:100%;
    table-layout: fixed;
}
th{
    text-align: center;
}


.text-overflow-dynamic-container {
    position: relative;
    max-width: 100%;
    padding: 0 !important;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    vertical-align: text-bottom !important;
}
.text-overflow-dynamic-ellipsis {
    position: absolute;
    white-space: nowrap;
    overflow-y: visible;
    overflow-x: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 100%;
    min-width: 0;
    width:100%;
    top: 0;
    left: 0;
}
.text-overflow-dynamic-container:after,
.text-overflow-dynamic-ellipsis:after {
    content: '-';
    display: inline;
    visibility: hidden;
    width: 0;
}

ul.nav {list-style: none; margin: 0px; padding: 0px; color: #06DDA0;}
ul.nav li {display: inline; font-size: 12px; letter-spacing: .1em; text-transform: uppercase; padding-right: 4px;}
ul.nav a {color: #06DDA0; border-bottom: 1px dotted #06DDA0;}
ul.nav a.dim {color: #acacac; border-bottom: 1px dotted #acacac;}
ul.nav a:hover {font-weight: 900;}

#filters {padding: 30px 0px; overflow: auto;}
#tags {line-height: 25px;}

#info {padding: 30px 0px;}
